<div class="container mt-5">

    <div class="row mt-2 text-bg-light">
        <div class="row">
            <h1 style="text-align: center">My Notes: Library of Errors.</h1>
        </div>
        <div class="row">
            <h4>
                Below are <b>117</b> Errors and their solutions that I found so far, while developing over the years. I learn errors; Learning errors help me fix future-errors quickly. (Legend: => means solution).
            </h4>
        </div>
    </div>


    <div class="row mt-4">
        <div class="mb-4 p-4 text-bg-secondary">

            <h4>
                "NullReferenceException: Object reference not set to an instance of
                an object"
                <br /> => Trying to use somehing whose value is null.

                <hr />

                "Cannot implicitly convert type 'System.Threading.Tasks.Task< bool>' to 'bool'"
                <br /> => check AsyncTask related things like: await, ...Async, etc.

                <hr />

                visual studio restarts when debugging => start VS as admin by right-clicking it's icon.

                <hr />

                "A connection was successfully established with the server, but then an error occurred during the login process. (provider: SSL Provider, error: 0 - The certificate chain was issued by an authority that is not trusted.)"
                <br />=> to Connection String, add "TrustServerCertificate=True"

                <hr />

                when scaffolding 'MVC Area', got: "there was an error running the selected code generator scaffolding failed"
                <br />=> Step 1: add (if absent) within < ItemGroup>, < PackageReference Include="Microsoft.VisualStudio.Web.CodeGeneration.Design" Version="7.0.0" />.
                Step 2 (if needed): update all nuget packages.

                <hr />

                "Unable to resolve service for type (interface) "IAuth.." while attempting to activate "Auth.."
                <br />=> need to add a Service in program.cs injecting Auth into IAuth.

                <hr />

                ".AutoMapperMappingException: Missing type map configuration or unsupported mapping."
                <br />=> Check destinations, sources in automapper's inherited class Profile; also, check whereever .Map<>() is done.

                <hr />

                "SqlException: Invalid object name 'Categorie'"
                <br />=> check "DbSet< Categorie> in app's DbContext and corresponding table in Database.

                <hr />

                "The model item passed into the ViewDataDictionary is of type 'CoverType', but this ViewDataDictionaryinstance requires a model item of type 'Category'"
                <br />=> check what object controller passes to View and what is after '@@model' in .cshtml

                <hr />

                "CS0246 The type or namespace name 'Category' could not be found (are you missing a using directive or an assembly reference?) .../Areas_Admin_Views_Category_Edit_cshtml.g.cs"
                <br />=> maybe, missing something in _ViewImports.cshtml in Views folder. (note the .g.cs)

                <hr />

                DataTables warning: table id=myTable - Requested unknown parameter 'Title' for row 0, column 0.
                <br />=> check json's 'Title' property.

                <hr />

                "'An error was generated for warning '..EntityFrameworkCore.Query.InvalidIncludePathError': Unable to find navigation ' covertype' specified in string based include path ' covertype'."
                <br />=> check things related to .Include(...) for the navigation prop.

                <hr />

                Unexpected token '{' (at product.js:19:13) => check syntax like ending commas.

                <hr />

                red-unederline error-message at return: "cannot implicitly convert type ... to ..." => check if all types are matching, especially the return-type.

                <hr />

                cannot implicitly convert type  IEnu< ...> to  List< ...>" => making .toList() might work.

                <hr />

                "No overload for method 'method' takes 'number' arguments" => check method's arguments/parameters (of interface and its implementation).

                <hr />

                'cannot copy ".." to "..". Exceeded retry count of 10. Failed. IIS run' => stop IIS processes in taskmanager and build again

                <hr />

                "Operator '!' cannot be applied to operands of type 'method group' => change !context.Products.Any to !context.Products.Any().

                <hr />

                cannot delete database in sql server => tick 'close existing connections' then retry

                <hr />

                SqlException: Cannot insert explicit value for identity column in table '..' when IDENTITY_INSERT is set to OFF.
                <br />=> in sql server, go to table's design, select that column, go to column properties, click (is identity) and set it to 'No'.
                <br />(Maybe, Or, to model's prop, add 'DatabaseGenerated(DatabaseGeneratedOption.None)'. then migrate.)

                <hr />

                controller's method error: "cannot implicitly convert type ..Task< List< T>>  to ..ActionResult< List< T>> "
                <br />=> (might work. Not sure) put inside Ok(). Eg: return Ok(_repo.GetProducts());

                <hr />

                OkObjectResult does not contain a a definition for GetAwaiter
                <br />=> it's: return Ok(await _repo.GetProducts());
                <br />not: return await Ok(_repo.GetProducts());

                <hr />

                new fresh browser instance when app launched => turning javascript debugging off might work.

                <hr />

                "A connection was successfully established with the server, but then an error occurred during the login process. (provider: SSL Provider, error: 0 - The certificate chain was issued by an authority that is not trusted.)"
                <br />=> add ";encrypt=false"" to "DefaultConnection" or try: <br />
                https://www.conradakunga.com/blog/fix-ssl-provider-error-0-the-certificate-chain-was-issued-by-an-authority-that-is-not-trusted/

                <hr />

                "error:0308010C:digital envelope routines::unsupported at new Hash (node:internal/crypto/hash:71:19)"
                <br />=> versions of nodejs and ng must be supported. (worked on nodejs 16.13.0 and ng 14 (14.2.9)).

                <hr />

                "Failed to launch debug adapter. Additional information may be available in the output window. Unable to launch browser: "Unable to find an installation of the browser on your system.""
                <br />=> set only angular project as startup and change browser name for start button.
                <br />(also works if running without debugging. or, when running with debugger keeping error alert open.)

                <hr />

                npm console keeps restarting,
                <br />OR, console shows "Project Al does not exist"
                <br />OR, console shows "Error: Unknown arguments: ssl, ssl-cert, ssl-key, Bakir\AppData\Roaming\ASP.NET\https\a.pem, Al, Bakir\AppData\Roaming\ASP.NET\https\a.key"
                <br />=> issue may be with account's folder-name space in C:\Users\. Format 'start' in package.json like:
                <br />"start": "ng serve --ssl --ssl-cert \"%APPDATA%\\ASP.NET\\https\\%npm_package_name%.pem\" --ssl-key \"%APPDATA%\\ASP.NET\\https\\%npm_package_name%.key\"",
                <br /> (note: carefully check spaces in above string.)

                <hr />

                [HPM] Error occurred while trying to proxy request /weatherforecast from localhost:4200 to https://localhost:5001 (ECONNREFUSED)
                <br />=> keep open/cloed (unsure) browser window that VS launched.

                <hr />

                Cannot find module '...client\node_modules\@@schematics\angular\utility\test.js'
                <br />=> steps (inside angular project, run):
                npm uninstall @@schematics/angular<br />
                npm uninstall ngx-bootstrap<br />
                npm install @@schematics/angular@@xx.x.x <br />
                ng add ngx-bootstrap<br />
                OR do, https://www.youtube.com/watch?v=tkicOwOmxH8&ab_channel=ComputerProgramming

                <hr />

                (browser console error) "access to XMLHttpRequest at 'https://localhost:5001/api/users' from origin 'https://localhost:4200' has been blocked by CORS policy: No 'Access-Control-Allow-Origin' header is present on the requested resource."
                <br />=> add to services: services.AddCors();
                <br />add to http pipeline before authentication: app.UseCors(x => x.AllowAnyHeader().AllowAnyMethod().WithOrigins("https://localhost:4200"));
                <br />or .AllowAnyOrigin();
                <hr />

                (browser console error) "GET https://localhost:4200/weatherforecast 404 (Not Found) app.component.ts:13" => check (api) controller's Route.

                <hr />

                "Could not copy "obj\Debug\...exe" to "bin\Debug\...exe". Exceeded retry count of 10. Failed. The file is locked by: ".. (7388)"
                (and) "Unable to copy file "obj\Debug\...exe" to "bin\Debug\...exe". The process cannot access the file 'bin\Debug\...exe' because it is being used by another process."
                <br />=> something from previous launch is still running. Stop all (including processes) and retry.

                <hr />

                "the instance of entity type 'Villa' cannot be tracked because another instance with the same key value for {'id'} is already being tracked."
                <br />=> EF trying to track 2 entity-instances with same id: so confusion. Chain .AsNoTracking() to first tracking (eg: .firstordefault tracking).

                <hr />

                "the alter table statement conflicted with the foreign key constraint '..'. the conflict occurred in database .., table .., column ..""
                <br />=> conflict between existing record and new altered table-design. Deleting existing record (row) might help.

                <hr />

                (Inner exception) InvalidOperationException: Unable to resolve service for type 'System.Net.Http.IHttpClientFactory' while attempting to activate 'MagicVilla_Web.Services.AuthService'.
                <br />=> add builder.Services.AddHttpClient< IAuthService, AuthService>() before builder.Services.AddScoped< IAuthService, AuthService>()

                <hr />

                Visual Studio ran into an unexpected problem, and may affect some project system functions => try restarting vs. also, try starting in another way like start-without-debugging.

                <hr />

                A suitable constructor for type 'Made_By_Numan.Client.Services.FoodService' could not be located. Ensure the type is concrete and all parameters of a public constructor are either registered as services or passed as arguments. Also ensure no extraneous arguments are provided.
                <br />=> sequence is important! add:
                <br />builder.Services.AddHttpClient< IFoodService, FoodService>();
                <br />builder.Services.AddScoped< IFoodService, FoodService>();
                <br />FoodService ctor's param IHttpClientFactory needs to be registered before FoodService.

                <hr />

                Cannot find Data context (DbContext) when trying to scaffold Identity => add, 1.AppDbContext:IdentityDbContext 2.add reference to project containing AppDbContext.

                <hr />

                Identity's Login/Register button-click shows: "No webpage was found for the web address: https://localhost:5002/Identity?page=%2FAccount%2FLogin" . HTTP ERROR 404.
                <br />=> add: builder.Services.AddRazorPages(); app.MapRazorPages();
                <br />(also, check below error.)

                <hr />

                No webpage was found for the web address: https://localhost:5002/Account/Login?ReturnUrl=%2FGuest%2FOrderFood%2FCartItemDetails%3FfoodId%3D3 . HTTP ERROR 404.
                <br />=> Note '/Identity' is missing in address. [Authorize] needs proper redirection. Add in program.cs: builder.Services.ConfigureApplicationCookie(options =>
                {
                options.LoginPath = $"/Identity/Account/Login";
                options.LogoutPath = $"/Identity/Account/Logout";
                options.AccessDeniedPath = $"/Identity/Account/AccessDenied";
                });
                <br />(also, check above error.)

                <hr />

                Unable to resolve service for type 'Microsoft.AspNetCore.Identity.SignInManager`1[Microsoft.AspNetCore.Identity.IdentityUser]' while attempting to activate 'Client.Areas.Identity.Pages.Account.LoginModel'.
                <br />=> in program.cs make sure it's 'IdentityUser' in, builder.Services.AddIdentity< IdentityUser, IdentityRole>().AddDefaultTokenProviders().AddEntityFrameworkStores< AppDbContext>();

                <hr />

                The 'await' operator can only be used 'within' an async method => notice the 'within'

                <hr />

                '...' is an ambiguous reference between '...' and '...' => check corresponding 'using' statement(s).

                <hr />

                build failed but no errors shown => open .cshtl files and press f6 to see errors.

                <hr />

                Cannot open server '...' requested by the login. Client with IP address 'xxx.xx.xxx.xxx' is not allowed to access the server. To enable access, use the Windows Azure Management Portal or run sp_set_firewall_rule on the master database to create a firewall rule for this IP address or address range. It may take up to five minutes for this change to take effect.
                <br />=> azure> All resources > SQL server > Add firewall rule with VS output's 'xxx.xx.xxx.xxx'

                <hr />

                publish failed => retry as admin

                <hr />

                all code correct but still wrong data => appsetting's connection maybe still with azure.

                <hr />

                Error: The loader "C:/...dashboard.component.css" didn't return a string => make sure @@Component's styleUrl's name+suffix is correct

                <hr />

                Property 'value' does not exist on type 'EventTarget' => add $any like: $any($event.target).value

                <hr />

                NullInjectorError R3InjectorError NullInjectorError No provider for ..
                <br />=> in ...module.ts 'imports' array, a Module needs to be imported.

                <hr />

                not showing 'using' of a class => check namespace of that class.
                <hr />

                <!-- below Added on 18 apr -->
                vscode migration command error:
                <br /> "Could not execute because the specified command or file was not found. Possible reasons for this include:
                <br /> * You misspelled a built-in dotnet command.
                <br /> * You intended to execute a .NET program, but dotnet-ef does not exist.
                <br /> * You intended to run a global tool, but a dotnet-prefixed executable with this name could not be found on the PATH."
                <br /> =>  for .net7, do: dotnet tool install --global dotnet-ef
                <br /> for .net6 do: dotnet tool install --global dotnet-ef --version 6...

                <hr />

                Type 'number' is not assignable to type 'NumberConstructor'.ts(2322)
                => write like: let num: number  = 3;

                <hr />

                An argument for 'controls' was not provided
                => initialize like, myArr: new FormArray([])

                <hr />

                Property 'controls' does not exist on type 'AbstractControl'
                <br />  => need to typecast to < FormArray>
                , which has controls.
                <br />      in .ts add method- get formArr() { return < FormArray> this.myform.get('formArrName'); }
                <br />        in.html- < div *ngFor="let item of formArr.controls">

                <hr />

                "Object is possibly 'null'.ngtsc(2531)" in "formReactive.get('name').invalid"
                <br /> => do, formReactive.get('name')?.invalid
                <br /> Or, read https://www.angularjswiki.com/angular/object-is-possibly-null-error-fix/

                <hr />

                "formGroup: FormGroup" shows error: "Type '(formGroup: FormGroup) => ValidationErrors | null' is not assignable to type 'ValidatorFn'. Types of parameters 'formGroup' and 'control' are incompatible. Type 'AbstractControl' is missing the following properties from type 'FormGroup': controls, registerControl, addControl, removeControl, and 3 more.ts(2322)"
                <br /> => error because ValidatorFn works with controls. so do, "formGroup: AbstractControl"

                <hr />

                "this.updateFormReactve as StudentUpdateDTO" shows error: Conversion of type 'FormGroup' to type 'StudentUpdateDTO' may be a mistake because neither type sufficiently overlaps with the other. If this was intentional, convert the expression to 'unknown' first. Type 'FormGroup' is missing the following properties from type 'StudentUpdateDTO': studentId, name, dateOfBirth, passed, and 3 more.ts(2352)
                <br /> => do, this.updateFormReactve.value as StudentUpdateDTO

                <hr />

                @@ViewChild initializer error on Angular 13. "Property 'viewChild1' has no initializer and is not definitely assigned in the constructor.ts(2564)"
                <br /> => (I like), @@ViewChild('child') child: ChildComponent = {} as ChildComponent;
                <br /> Or, @@ViewChild('child') child: ChildComponent = {} as ElementRef;
                <br /> Or, (not sure) @@ViewChild('child') child: ChildComponent = new ChildComponent;

                <hr />

                '...' is deprecated.ts(6385) => hover to show popup, ctrl+click to link takes to hints

                <hr />

                <!-- below Added on 29 apr -->
                "Element implicitly has an 'any' type because expression of type 'string' can't be used to index type 'Student'.
                No index signature with a parameter of type 'string' was found on type 'Student'.ts(7053)"
                <br /> => instead of Student, make it of type any.

                <hr />


                Form-validator not getting called at all => check if in the module using it.

                <hr />


                Can't bind to 'routerLink' since it isn't a known property => module needs RouterModule in imports

                <hr />

                (found while using highcharts) Generic type 'ɵɵComponentDeclaration' requires 7 type argument(s)
                <br /> => in package.json add compatible version and do 'npm install'.

                <hr />

                (found when lazy loading was added) "Error: BrowserModule has already been loaded. If you need access to common directives such as NgIf and NgFor from a lazy loaded module, import CommonModule instead."
                <br /> => adding 'BrowserModule' to shared.module's exports causes this. So, add 'BrowserModule' only to app.module's import, and add 'CommonModule' to shared.module's import+export.

                <hr />

                "NullInjectorError: R3InjectorError(AppModule)[RouterModule -> Router -> NgModuleFactoryLoader -> Compiler -> Compiler -> Compiler]: NullInjectorError: No provider for Compiler!"
                <br /> => AppModule needs BrowserModule in imports

                <hr />


                don't see lazy loading's 0.js in browser's network tab => updated is name like 'src_app_...'. clear network tab and go to link again (in new tab).

                <hr />

                API's return NotFound(student); causing problem in angular =>  do, return new EmptyResult(); in api controller.

                <hr />

                <!-- below Added on 11 nov 23 -->

                highcharts not updatng => needs, updateflag: true. (also, new data has to be processed inside subscribe with response.)

                <hr />

                contentchildren not getting array => needs, { descendants: true } inside @@contentchildren()

                <hr />

                'RouterModule' does not appear to be an NgModule => just restart vscode/app

                <hr />

                ''FormsModule' does not appear to be an NgModule class.(-996002)'
                <br />=> https://stackoverflow.com/questions/60239941/appears-in-the-ngmodule-imports-of-appmodule-but-could-not-be-resolved-to-an-ng

                <hr />

                The error “Can’t bind to ‘formGroup’ since it isn’t a known property of ‘form’”
                <br />=>  add ReactiveFormsModule in imports[]. and, that component is present in declarations[].

                <hr />

                visual studio solution not showing angular project 'client'
                <br />=> if, client.esproj is present inside 'client': right click solution > 'add existing project'.
                <br />else, right click solution > 'add existing web site' > select folder 'client'.

                <hr />

                Error: connect ECONNREFUSED => API is probably off
                <hr />


                "property 'flat' does not exist on type 'any[]'. => in tsconfig.json, check lib[] for es2019 or more.

                <hr />


                "A possible object cycle was detected which is not supported. This can either be due to a cycle or if the object depth is larger than the maximum allowed depth of 32."
                <br />=> happens when eg: User has prop List< Photo>. Photo has navigation-prop User. issue arises in linq .include(x=> x.Photos).
                <br />soln: make dtos. eg: UserDto has prop List< PhotoDto>. But, PhotoDto DOESN'T have navigation-prop User. this breaks the cycle.
                <hr />


                postman shows:
                <br />{
                <br />"type": "https://tools.ietf.org/html/rfc7231#section-6.5.13",
                <br />"title": "Unsupported Media Type",
                <br />"status": 415,
                <br />"traceId": "00-47f92a008475f377ce0299c66322feef-ffc9125ca5cbb23d-00"
                <br />}
                <br />=> in Headers, set "Content-Type": "application/json"
                <hr />


                Unable to find testhost.dll. Please publish your test project and retry
                <br />=> Install 'Microsoft.NET.Test.Sdk' package from nuget. Command> NuGet\Install-Package Microsoft.NET.Test.Sdk
                <hr />


                'does not contain a definition for 'ThenInclude' and no accessible extension method 'ThenInclude''
                    <br />=> this is from LINQ. check imports. especially look for the wrong import 'using System.Data.Entity;'.
                <hr />


                'Cannot use variable as the left-hand side of an assignment expression. Template variables are read-only.ngtsc(-998005)'
                    <br />=> when doing, let vd of arr, for [(ngModel)] don't do [(ngModel)]=="vd". do like, [(ngModel)]="arr[index]".
                <hr />

                'The provider for the source IQueryable doesn't implement IDbAsyncQueryProvider. Only providers that implement IDbAsyncQueryProvider can be used for Entity Framework asynchronous operations.'
                <br />=> check imports, espeically linq's. Wrong import is usually 'using System.Data.Entity;'.
                <hr />

                error TS2307: Cannot find module '...' => issue is because this package is missing in node modules. Solution is: inside angular app, do 'npm install'.
                <hr />

                can not find package ... => manually copy and paste those package folders
                <hr />

                after scaffolding, pasting configurations shows error => paste only of what column was changed.
                <hr />

                "Hmmm… can't reach this pagelocalhost refused to connect.
                <br />Try:
                <br />Checking the connection
                <br />Checking the proxy and the firewall
                <br />ERR_CONNECTION_REFUSED"
                <br />=> try in incognito OR, try after cleaning browser cache OR, try in another browser.
                <hr />

                Visual Studio not showing all Projects in solution => Check stackoverflow for most efficient solution. Also, can add manually in 'add existing projects'
                <hr />


                'IConfiguration' does not contain a definition for 'GetValue' and no accessible extension method 'GetValue' accepting a first argument of type 'IConfiguration' could be found (are you missing a using directive or an assembly reference?)
                <br />=> add package Microsoft.Extensions.Configuration.Binder
                <hr />

                autompper mapping issue. eg: from list to list => instead of .Map< DType>(s), do .Map< SType, DType>(s)
                <hr />

                IIS error shows => del .vs folder in project
                <hr />

                Ambiguous invocation:
                <br />Microsoft....AddMassTransitHostedService(this Microsoft...IServiceCollection) (in class HostedServiceConfigurationExtensions)
                <br />Microsoft....AddMassTransitHostedService(this Microsoft...IServiceCollection) (in class HostedServiceConfigurationExtensions)
                <br />match
                <br />=> check .csproj, to make sure MassTransit packages have same version.
                <hr />

                "System.MissingMethodException: 'Method not found: 'Void CoreTypeMappingParameters..ctor(System.Type, Microsoft.EntityFrameworkCore.Storage.ValueConversion.ValueConverter"
                <br />=> check nuget package versions. (perhaps EntityFrameworkCore related.)
                <hr />

                <!-- below Added on 1 dec 23 -->
                "Identifier '...' is not defined. The component declaration, template variable declarations, and element references do
                not contain such a member"
                <br /> => sometimes, removing a letter from the Identifier name and re-adding it removes the error.
                <hr />

                "There was an error running the selected code generator: 'Package restore failed"
                <br />=> updating all packages to the max possible version works. Must start with 'Microsoft.EntityFrameworkCore' package. but, see
                if updating only package 'CodeGeneration' works.
                <br />Or,
                https://stackoverflow.com/questions/57985132/there-was-an-error-running-the-selected-code-generator-package-restore-failed
                <hr />

                in typescript (.ts), model object's prop IntelliSense not working => give the object a type. eg: userObj: User
                <hr />

                nuget versions are mismatch and tells to update because a version is deprecated => make nuget souce one certain, instead of the 3.
                <hr />
                <!-- above Added on 1 dec 23 . don't auto-format this doc-->
                "TypeError: Cannot read property 'photoURL' of undefined" =>
                <br />html is trying to use a variable which is still undefined. soln is adding a *ngif check.
                <br />Or, adding in html a ? like {{member?.photoURL}}
                <br />Or, use a resolver to ensure getting value before html loads.

                <hr />

                "Uncaught (in promise): TypeError: Cannot read properties of undefined (reading 'href')"
                <br />=> a var named 'href' is undefined (most probably in index.html). So, find 'href' and check its value.
                <hr />

                "No base href set. Please provide a value for the APP_BASE_HREF token or add a base element to the document"
                <br />=> below title tag of Index.html, add: < base href="/" />

                <hr />

                "error: GET https://kit.fontawesome.com/yourcode.js net::ERR_ABORTED 403 (Forbidden)"
                <br />=> the browser is unable to fetch the requested resource because access is forbidden. It seems to be related to
                <br />fetching the Font Awesome kit JavaScript file (yourcode.js) from the Font Awesome server.

                <hr />

                api endpoint doesnt get hit at all, even when all looks ok.
                <br />or, api endpoint gets hit, but api model's argument's are null
                <br />=> the model sent by client must exactly match the model in the api argument.

                <hr />

                "The type or namespace name 'IHttpContextAccessor' could not be found (are you missing a using directive or an assembly reference?)"
                <br />=> check: 1.'using Microsoft.AspNetCore.Http;' is present.
                <br />2. in the project where the error is shown, go to Dependencies>Packages. check if package 'Microsoft.AspNetCore.Http' is installed with proper version.

                <hr />

                till database call or stored procedure (sp) execution, all code ok. but database not showing change/update.
                <br />=> check '...Async', 'await' related things in database operations.

                <hr />

                "The type or namespace name 'User' could not be found (are you missing a using directive or an assembly reference?)"
                <br />=> make sure the namespace of 'User' is correct.

                <hr />

                "Error: NG0302: The pipe 'async' could not be found!"
                <br />=> reason: pipe not being declared in the module, or the module containing the pipe is not imported.
                <br />Ensure 'CommonModule' is imported in the module where the pipe is used.

                <hr />

                a component's ngOnInit's event emitter sunscription doesn't receive a response
                <br />=> because receivers subsciption to emitter is late. subscribe in ctor.

                <hr />

                "GET https://localhost:5001/api/students net::ERR_CONNECTION_REFUSED"
                <br />=> api might not be running, or a network issues preventing the connection.

                <hr />

                after cache cleaning, app not showing on iis. only iis homepaage showing => check exact url in iis (especially http/https part)

                <hr />

                "Type 'T' is not assignable to type 'T'. Types of property 'observers' are incompatible.
                <br />Type 'Observer<never[]>
                []' is not assignable to type 'Observer<any[]>
                []'.
                <br />Type 'Observer<never[]>
                ' is not assignable to type 'Observer<any[]>
                '.
                <br />Type 'any[]' is not assignable to type 'never[]'.ts(2322)"
                <br />=> give type explicity in both sides like -
                <br />bs: BehaviorSubject<any[]> = new BehaviorSubject<any[]>([]);
                <hr />
                <!-- above Added on mar 22 2024. don't auto-format this doc-->

                "Connection disconnected with error 'Error: Server timeout elapsed without receiving a message from the server.'."
                <br />=> increase signalR "hubConnection.serverTimeoutInMilliseconds()"
                                        <hr />

                weird underlines? Or, error "Parameter 'items' implicitly has an 'any' type.ts(7006)"?
                <br />=> turn off strict type checking.
                                        <hr />

                cloned solution projects look like folders instead of projects
                <br />=> reopen VS
                                        <hr />

                in signalR c# hub, can not set cookie/session in response head becuase the response has already started.
                <br />=> try other ways like setting and getting:
                <br />Context.Items[key] = value;
                <br />var value = Context.Items.ContainsKey(key) ? Context.Items[key]?.ToString() : "Key not found";
                                        <hr />

                <br />"pastContactDto does not contain a definition for Reverse and no accessible method 'Reverse'"
                <br />=> check on what you are applying reverse.
                                        <hr />

                <br />"Error: Type AppRole must derive from RoleManager< AppRole>"
                <br />=> do: .AddRoleManager< RoleManager< AppRole>>()
                                        <hr />

                <br />the api, or hub class ctor not getting hit even when all looks ok
                <br />=> check the things in ctor. check for unused props and injections.
                                        <hr />

                <br />"'app-navBar' is not a known element". OR, "No pipe found with name 'date'.ngtsc(-998004)"
                <br />=> if these show even when all is ok, check the module and routing.module. other errors in module may show such errors.

                <!-- above Added on aug 13 2024. don't auto-format this doc-->


            </h4>

        </div>
    </div>
</div>
