
<div class="container mt-5">
    <div class="row">

        <div class="col-4">
@*            <h2 class="px-1">About me:</h2>
*@
            <div class="card border-dark" style="width: 60%;">
                <img class="card-img-top p-3" src="~/images/Numan.jpg" alt="Card image" style="width:100%">

                <div class="card-body">
                    <h4 class="card-title">Numan Al Bakir</h4>

                    <p class="card-text">Aspiring Full Stack .Net Developer.</p>
                    <p class="card-text">This website portrays my work.</p>

                    <div class="d-flex justify-content-between mb-2">
                        <i style="color:dodgerblue;" class="fa fa-twitter"></i>
                        <i style="color:orange;" class="fa fa-linkedin text-warning"></i>
                        <i style="color:dodgerblue;" class="fa fa-facebook"></i>
                        <i style="color:green;" class="fa fa-github"></i>
                    </div>
                    <div>
                        (These icons are just for styling.)
                    </div>

                    <div class="d-flex justify-content-center">
                        <a asp-area="Guest" asp-controller="Chart" asp-action="Index" class="btn btn-outline-primary">Next Page</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-8 pt-5 p-4 text-bg-secondary">
            <h4>
                I (Numan) developed this site using real-world software-development designs and practices.
            </h4>
            <h4>
                Link to Source-code of this project is in my Resume.
            </h4>
            <h4>
                Nowhere else in the world exists this project, except in my repositories.
            </h4>

            <h4 class="pt-3">
                <b><u>About the -Order Food- link above:</u></b> <br />
            </h4>
            <h4 class="pt-1">
                I collected that website's template from <a target="_blank" style="color:black;" href="https://bootstrapmade.com/demo/Yummy/">https://bootstrapmade.com/demo/Yummy/</a> ,
                and used my .NET development knowledge to integrate it; extended it and made it functional: Food ordering, Emailing works. Also, I integrated it with Bank-of-Numan.
            </h4>

            <h4 class="text-bg-secondary pt-2">
                <u>Using: </u>
                <ul >
                    <li class="pt-2">
                        Main Technologies: ASP.NET Core MVC, RESTful Web API, Entity Framework Core, SQL Server, Razor Pages(little), Identity(little).
                    </li>
                    <li class ="pt-2">
                        Other Technologies: HTML, CSS, Bootstrap, JavaScript, C#.
                    </li>
                    <li class="pt-2">
                        Design Patterns and principles: N-Tier Architecture, SOLID, OOP, Dependency Injection, Repository pattern with Unit-of-Work, Services, DTOs, AutoMapper, Async Programming.
                    </li>
                    <li class="pt-2">
                        Others: Git, Swagger, Visual Studio, Debugger.
                    </li>
                </ul>
            </h4>
        </div>
    </div>
</div>
