
<div class="container mt-5">


    <div class="row">

        <div class="col-sm-4 col-md-4 mb-4">
            <div class="card border-dark" style="width:230px;">
                <img class="card-img-top p-3" src="~/images/Numan2.jpg" alt="Card image" style="width:100%">

                <div class="card-body">
                    <h4 class="card-title">Numan Al Bakir</h4>

                    <p class="card-text">Aspiring Full Stack .Net Developer.</p>
                    <p class="card-text">This website displays my work.</p>

                    <div id="sIcons" class="d-flex justify-content-between">
                        <i class="fa fa-twitter fa-lg"></i>
                        <i class="fa fa-linkedin fa-lg text-warning"></i>
                        <i class="fa fa-facebook fa-lg text-info"></i>
                        <i class="fa fa-github fa-lg"></i>
                    </div>

                    <div class="card-footer alert alert-secondary mt-4" id="div" style="font-size:18px; display: none;" role="alert">
                        These icons are just for prettifying!
                    </div>
                </div>
            </div>
        </div>

        <div class="col-sm-8 col-md-6 col-md-offset-2 mb-4 text-bg-secondary">
            <div class="p-4">
                <h4>
                    I (Numan) developed this site using real-world software-development designs and practices.
                </h4>
                <h4>
                    Link to Source-code of this project is in my Resume.
                </h4>

                <h4 class="pt-3">
                    <b>
                        <u>About the -Order Food- link above:</u>
                    </b>
                    <br />
                </h4>
                <h4 class="pt-1">
                    I collected that Food-Ordering website's only Home-page template from <a target="_blank" style="color:black; word-wrap:break-word;" href="https://bootstrapmade.com/yummy-bootstrap-restaurant-website-template/">https://bootstrapmade.com/yummy-bootstrap-restaurant-website-template/</a> ,
                    and used my .NET development knowledge to integrate it; extended it and made it functional: Food ordering, Emailing works; also, integrated it with Bank-of-Numan.
                </h4>

                <h4 class="text-bg-secondary pt-2">
                    <u>Using: </u>
                    <br />
                    <ul>
                        <li class="pt-2">
                            <b>Main Technologies: </b>ASP.NET Core MVC, RESTful Web API, Entity Framework Core, SQL Server, Razor Pages (little), Identity (little).
                        </li>
                        <li class="pt-2">
                            <b>Other Technologies:</b> HTML, CSS, Bootstrap, JavaScript, C#.
                        </li>
                        <li class="pt-2">
                            <b>Design Patterns and principles:</b> N-Tier Architecture, SOLID, OOP, Dependency Injection, Repository pattern with Unit-of-Work, Services, DTOs, AutoMapper, Async Programming.
                        </li>
                        <li class="pt-2">
                            <b>Others:</b> Visual Studio, Debugger, Git, Swagger, JSON.
                        </li>
                    </ul>
                </h4>
            </div>

        </div>

    </div>

    <hr class="d-sm-none">
</div>


@section Scripts{
    <script>

        $(document).ready(function () {

            $('#sIcons').click(function () {
                $("#div").show("fast").delay(3000).hide("fast");
            });

        });

    </script>
}
