
<div class="container mt-5">
    <div class="row">
        <div class="col-4">
            <h2 class="px-1"><i>About me:</i></h2>
            <div class="card border-dark">
                <img class="card-img-top p-2" src="~/images/numan.jpg" alt="Card image" style="width:100%">

                <div class="card-body">
                    <h4 class="card-title">Numan Al Bakir</h4>

                    <p class="card-text">Aspiring Full Stack .Net Developer.</p>
                    <p class="card-text">This website portrays my work.</p>

                    <div class="d-flex justify-content-between mb-2">
                        <a href="#"><i class="fa fa-twitter"></i></a>
                        <a href="#"><i class="fa fa-linkedin"></i></a>
                        <a href="#"><i class="fa fa-facebook"></i></a>
                        <a href="#"><i class="fa fa-github"></i></a>
                    </div>

                    <div class="d-flex justify-content-center">
                        <a asp-area="Admin" asp-controller="Chart" asp-action="Index" class="btn btn-outline-primary">Next Page</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-8">
            <h4>
                I, Numan, developed this site using real-world software-development designs and practices.
            </h4>
            <h4>
                The first and the only source-code of this project is in my Github repository. Link is in my Resume.
            </h4>

            <h4>
                say about rest: I collected this template from ... and using my .Net devlpmnt knowledge to extend it and to make it functional.
            </h4>
        </div>
    </div>
</div>
