@{
    Layout = "~/Views/Shared/_Layout_OrderFood.cshtml";
    <style>
        .footer {
            position: absolute;
            bottom: 0;
            width: 100%;
            white-space: nowrap;
        }
    </style>
}

<h1>Cart</h1>

