<div class="container mt-2">
    <h3 class="text-info">
        Component-Communications (passing color values) -
    </h3>

    <div class="card shadow-none border-primary mb-3" [style.background-color]="parentColorValue" style="border: 3px solid;">
        <div class="card-header">
            <h5>Parent</h5>
        </div>
        <div class="card-body">

            <h4 class="card-title">
                Change Parent Color:
                <input type="color" id="parentcolor" name="parentcolor" [(ngModel)]="parentColorValue">
            </h4>

            <h4 class="card-title">
                Send Color to Child as @Input:
                <input type="color" id="childcolor" name="childcolor" [(ngModel)]="toChildColorValue">
            </h4>

            <div>
                <button type="button" class="btn btn-primary" name="eventToParent" id="eventToParent"
                    (click)="TurnBothRed()">
                    Turn both Grand-Children Red -- using RxJS Subject
                </button>
            </div>

            <br>

            <!-- not working -->
            <!-- <div>
                This text was set using ElementRef.
                <input type="text" #h1Ref>
                <button type="button" (click)="setInput()" class="btn btn-primary" >change input</button>
            </div> -->



            <app-child [childColor]="toChildColorValue" (childsClickEmitter)="parentsMethod($event)">

                <!-- content from parent -->
                <app-grand-child3 #grandChild3FromParent >
                </app-grand-child3>

            </app-child>

        </div>

    </div>
</div>