<div class="container my-2">
    <h4 class="">
        Various ways of Component-Communication (passing color-values as data) -
    </h4>

    <div class="card shadow-none border-primary mb-3" [style.background-color]="parentColorValue"
        style="border: 3px solid;">
        <div class="card-header">
            <h5>Parent</h5>
        </div>
        <div class="card-body">

            <div class="mx-4">

                <h4 class="card-title">
                    Change Parent Color:
                    <input type="color" id="parentcolor" name="parentcolor" [(ngModel)]="parentColorValue">
                </h4>

                <h4 class="card-title">
                    Send Color to Child -- using @Input:
                    <input type="color" id="childcolor" name="childcolor" [(ngModel)]="toChildColorValue">
                </h4>

                <div>
                    <button type="button" class="btn btn-success" (click)="TurnYellowGrandChild1()">
                        Turn Grand-Child-1 Yellow -- using Custom RxJS Obsevable
                    </button>
                </div>

                <br>

                <div>
                    <button type="button" class="btn btn-success" (click)="TurnBothRed()">
                        Turn Grand-Children 1+2 Red -- using RxJS Subject
                    </button>
                </div>

                <br>

                <!-- not working -->
                <!-- <div>
                This text was set using ElementRef.
                <input type="text" #h1Ref>
                <button type="button" (click)="setInput()" class="btn btn-primary" >change input</button>
            </div> -->

            </div>


            <!-- child component -->
            <app-child [childColor]="toChildColorValue" (childsClickEmitter)="parentsMethod($event)">
                
                <!-- contents gc3, gc4 from parent -->
                <div class="col">
                    <app-grand-child3 #gc3FromParent #gc34FromParent>
                    </app-grand-child3>
                </div>

                <div class="col">
                    <app-grand-child4 #gc4FromParent #gc34FromParent>
                    </app-grand-child4>
                </div>

            </app-child>

        </div>

    </div>
</div>