<figure class="highcharts-figure" >
    
    <div id="container">
        <highcharts-chart 
          [Highcharts]="Highcharts"
        
          [constructorType]="chartConstructor"
          [options]="chartOptions"
        
          [(update)]="updateFlag"
          [oneToOne]="oneToOneFlag"
          [runOutsideAngular]="runOutsideAngular"
        
          style="width: 100%; height: 400px; display: block; border: 1px solid;"
        ></highcharts-chart>
    </div>

</figure>

<h4 class="m-4">
    For development purpose- {{studentDTO | async | json }}
</h4>

