@model Client.Models.OrderFoodDTOs.OrderHeaderDTO

@{
    Layout = "~/Views/Shared/_Layout_OrderFood.cshtml";
}

<div class="container row">
    <div class="col-12 text-center">
        <h1 class="pt-2 text-primary text-center">Order Placed Successfully!</h1>
    </div>

    <div class="col-12 text-center">
        Your Tracking Number is: <span style="color:maroon">
            @Model.TrackingNumber
        </span>
    </div>

    <div class="col-12 text-center">
        <p class="pt-2">Confirmation email sent to <strong>@Model.EmailAddress</strong> </p>
        <p class="pt-2"><u>Please check email.</u></p>
        <p class="pt-2">
            Cart has been cleared. But you can check order-details anytime using 'Order History' tab above.
        </p>
        <p>
            This transaction will be reflected in you Bank-Of-Numan account.
        </p>
    </div>

    <div class="d-flex justify-content-center">
        <a class="btn btn-info" asp-controller="Bank" asp-action="Index">Check Bank Balance</a>
    </div>


</div>


@section Scripts{
    <style>
        .footer {
            position: page;
            line-height: 100px;
            bottom: 0;
        }
    </style>
}