<!-- top row -->
<div class="container border mt-3 p-2">
    <div class="row">
        <div class="col">
            <h2 class="text-primary">List of Students</h2>
        </div>
        <div class="col text-end">
            <a routerLink="/addstudent" class="btn btn-primary">Add Student</a>
        </div>
    </div>
</div>


<!-- Table -->
<div class="container mt-3">
    <!-- <h3 class="my-3 text-dark">List of Students:</h3> -->

    <table class="table table-striped table-bordered table-hover">
        <thead class="table-warning">
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Date Of Birth</th>
                <th>Age</th>
                <th>Pass/Fail</th>
                <!-- <th>Subjects</th> -->
                <th class="table-info" style="text-align: center;">Actions</th>
            </tr>
        </thead>

        <tbody>
            <tr *ngFor="let student of students; let i = index">
                <td>{{student.studentId}}</td>
                <th>{{student.name }}</th>
                <td>{{student.dateOfBirth | date}}</td>
                <td>{{student.age}}</td>
                <td [style.color]="((student.pass | lowercase ) =='passed')? 'green':'red'">
                    {{student.pass}}
                </td>

                <!-- <td>
                    <ng-container *ngFor="let subject of student.Subjects; let j = index">
                        {{subject.Name}}
                        <span *ngIf="j < student.Subjects.length-1; then commaTemplate; else noneTemplate"></span>

                        <ng-template #commaTemplate>,</ng-template>
                        <ng-template #noneTemplate></ng-template>
                    </ng-container>
                </td> -->

                <td class="d-flex justify-content-around">
                    <button (click)="onDetailsClick($event)" class="btn btn-outline-info"><b>Details</b></button>
                    <button (click)="onEditClick($event, i)" class="btn btn-outline-warning"><b>Edit</b></button>
                    <button (click)="onDeleteClick($event, i)" class="btn btn-outline-danger"><b>Delete</b></button>
                </td>
            </tr>
        </tbody>
    </table>
</div>



<!-- {{students | json}} -->