<!-- top row -->
<div class="container border mt-3 p-2">
    <div class="row">
        <div class="col">
            <h2 class="text-primary">Students CRUD</h2>
        </div>
        <div class="col text-end">
            <a routerLink="/addstudent" class="btn btn-primary">Add Student</a>
        </div>
    </div>
</div>

<!-- searching -->
<div class="container border mt-3 p-2">

    <div class="row">
        <div class="col-3 text-info">
            <label for="searchByDropdown">Select Search Category:</label>
            <select class="form-control" id="searchByDropdown" name="searchBy" [(ngModel)]="searchBy">
                <option value="studentID">Student ID</option>
                <option value="name">Student Name</option>
                <option value="dateOfBirth">Date of Birth</option>
                <option value="pass">Pass / Fail</option>
            </select>
        </div>

        <div class="col-3 text-info">
            <div class="input-group">
                <label for="searchText">Type Search Text: </label>
                <input type="text" class="form-control" id="searchText" name="searchText" [(ngModel)]="searchText">                
            </div>
        </div>
        <div class="col input-group-append" (click)="onSearchClick()">
            <span class="input-group-text"><i class="fa fa-search fa-xl" style="color: teal;"></i></span>
        </div>
    </div>
</div>

<!-- Table -->
<div class="container mt-3">

    <table class="table table-striped table-bordered table-hover">
        <thead class="table-warning">
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Date Of Birth</th>
                <th>Age</th>
                <th>Pass/Fail</th>
                <!-- <th>Subjects</th> -->
                <th class="table-info" style="text-align: center;">Actions</th>
            </tr>
        </thead>

        <tbody>
            <tr *ngFor="let student of students; let i = index">
                <td>{{student.studentId}}</td>
                <th>{{student.name }}</th>
                <td>{{student.dateOfBirth | date}}</td>
                <td>{{student.age}}</td>
                <td [style.color]="((student.pass | lowercase ) =='passed')? 'green':'red'">
                    {{student.pass}}
                </td>

                <!-- <td>
                    <ng-container *ngFor="let subject of student.Subjects; let j = index">
                        {{subject.Name}}
                        <span *ngIf="j < student.Subjects.length-1; then commaTemplate; else noneTemplate"></span>

                        <ng-template #commaTemplate>,</ng-template>
                        <ng-template #noneTemplate></ng-template>
                    </ng-container>
                </td> -->

                <td class="d-flex justify-content-around">
                    <button (click)="onDetailsClick($event, student.studentId)"
                        class="btn btn-outline-info"><b>Details</b></button>
                    <a routerLink="/editstudent" (click)="onEditClick($event, student.studentId)"
                        class="btn btn-outline-warning"><b>Edit</b></a>
                    <button data-bs-toggle="modal" data-bs-target="#myModal" (click)="onDeleteClick($event, i)"
                        class="btn btn-outline-danger"><b>Delete</b></button>
                </td>
            </tr>
        </tbody>
    </table>
</div>


<!-- Modal delete Student -->
<div class="modal fade" id="myModal">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content p-2">

            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title">Delete Student ?</h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>

            <!-- Modal body -->
                <div class="modal-body">
                <div class="col-2">
                    <label for="studentId" class="control-label pt-2" style="font-size:20px;">Id</label>
                </div>
                <div class="col-10 pb-3">
                    <input disabled="disabled" name="studentId" [(ngModel)]="students[i].studentId" type="text"
                        id="studentId" class="form-control" />
                    <span asp-validation-for="studentId" class="text-danger"></span>
                </div>

                <div class="col-2">
                    <label for="name" class="control-label pt-2" style="font-size:20px;">Name</label>
                </div>
                <div class="col-10 pb-3">
                    <input readonly name="name" [(ngModel)]="students[i].name" type="text" id="name"
                        class="form-control" />
                    <span asp-validation-for="name" class="text-danger"></span>
                </div>

                <div class="col-2">
                    <label for="dateOfBirth" class="control-label pt-2" style="font-size:20px;">Date Of
                        Birth</label>
                </div>
                <div class="col-10 pb-3">
                    <input readonly name="dateOfBirth" [(ngModel)]="students[i].dateOfBirth" type="text"
                        id="dateOfBirth" class="form-control" />
                    <span asp-validation-for="Rate" class="text-danger"></span>
                </div>

                <div class="col-2">
                    <label for="age" class="control-label pt-2" style="font-size:20px;">Age</label>
                </div>
                <div class="col-10 pb-3">
                    <input readonly name="age" [(ngModel)]="students[i].age" type="text" id="age"
                        class="form-control" />
                    <span asp-validation-for="Details" class="text-danger"></span>
                </div>

                <div class="col-2">
                    <label for="pass" class="control-label pt-2" style="font-size:20px;">Pass/Fail</label>
                </div>
                <div class="col-10 pb-3">
                    <input readonly name="pass" [(ngModel)]="students[i].pass" type="text" id="pass"
                        class="form-control" />
                    <span asp-validation-for="ImageUrl" class="text-danger"></span>
                </div> 
                            
            <!-- Modal footer -->
                <div class="modal-footer">
                    <button (click)="onConfirmDelete()" type="button" class="btn btn-danger"
                        data-bs-dismiss="modal">Confirm</button>
                </div>
            </div>
            
        </div>
    </div>
</div>