<hr>

<div class="card border-primary mb-3" style="max-width: 24rem;" [style.background-color]="childColorValue">
        <div class="card-header">
            <h5>Child</h5>
        </div>
    <div class="card-body">

        <h4 class="card-title">
            Change Child Color:
            <input type="color" id="parentcolor" name="parentcolor" [(ngModel)]="childColorValue">
        </h4>

        <hr>

        <div class="mt-3">
            <button type="button" class="btn btn-primary" name="eventToParent" id="eventToParent"
                (click)="onClickToParent($event)">
                Set: Child Color => Parent Color 
            </button>
        </div>

        <hr>

        <h4 class="card-title">
            Change Grand-Child Color:
            <input type="color" id="grandchildcolor" name="grandchildcolor" [(ngModel)]="colorForGrandChild">
        </h4>
    </div>
</div>


<app-grand-child [grandChildColorValue]="colorForGrandChild">
</app-grand-child>