
<div class="card border-warning mx-4 mb-4" [style.background-color]="childColorValue">
    <div class="card-header">
        <h5>Child</h5>
    </div>
    <div class="card-body">

        <h4 class="card-title">
            Change Child Color:
            <input type="color" id="parentcolor" name="parentcolor" [(ngModel)]="childColorValue">
        </h4>

        <div>
            <button type="button" class="btn btn-primary" name="eventToParent" id="eventToParent"
                (click)="onClickToParent($event)">
                Trigger Parent's method by Child's @Output Emitter (having Color)
            </button>
        </div>
        
        <br>

        <!-- <h4 class="card-title">
            Send Color to Grand-Child as @Input:
            <input type="color" id="grandchildcolor" name="grandchildcolor" [(ngModel)]="colorForGrandChild">
        </h4> -->
    </div>

    <div class="row">
        <div class="col">
            <app-grand-child [grandChildColorValue]="colorForGrandChild">
            </app-grand-child>
        </div>

        <div class="col">
            <app-grand-child2>
            </app-grand-child2>
        </div>
    </div>


</div>