<!-- validations ~ 75% added -->


<form [formGroup]="updateFormReactve" (ngSubmit)="onSubmitClick()">
    <br />
    <div class="container border p-3">
        <h3 class="text-primary">Update Student (Reactive Form) -</h3>
        <hr />

        <div class="row">

            <!-- id -->
            <div class="col-3">
                <label for="studentId" class="control-label pt-2" style="font-size:20px;">Student Id:</label>
            </div>
            <div class="col-9 pb-3">
                <input readonly type="text" class="form-control" id="studentId" name="studentId"
                    formControlName="studentId">
            </div>


            <!-- name -->
            <div class="col-3 pt-2">
                <label for="name" class="control-label" style="font-size:20px;">Name:</label>
            </div>
            <div class="col-9 pb-3">
                <input type="text" class="form-control" id="name" name="name" formControlName="name"
                    [ngClass]="{'is-invalid': updateFormReactve.get('name')?.invalid && (updateFormReactve.get('name')?.dirty || updateFormReactve.get('name')?.touched || submitted),
                
                'is-valid': updateFormReactve.get('name')?.valid && (updateFormReactve.get('name')?.dirty || updateFormReactve.get('name')?.touched || submitted) }">

                <span class="text-danger"
                    *ngIf="updateFormReactve.get('name')?.invalid && (updateFormReactve.get('name')?.dirty || updateFormReactve.get('name')?.touched || submitted) && updateFormReactve.get('name')?.errors?.required">
                    Name can't be blank.</span>

                <span class="text-danger"
                    *ngIf="updateFormReactve.get('name')?.invalid && (updateFormReactve.get('name')?.dirty || updateFormReactve.get('name')?.touched || submitted) && updateFormReactve.get('name')?.errors?.pattern">
                    Only alphabets are allowed.</span>

                <span class="text-danger"
                    *ngIf="updateFormReactve.get('name')?.invalid && (updateFormReactve.get('name')?.dirty || updateFormReactve.get('name')?.touched || submitted) && updateFormReactve.get('name')?.errors?.minlength">
                    Name must contain at least 3 letters.</span>
            </div>



            <!-- dob -->
            <div class="col-3 pt-2">
                <label for="dateOfBirth" class="control-label" style="font-size:20px;">Date Of Birth (please click
                    calender icon):</label>
            </div>
            <div class="col-9 pb-3">
                <input type="date" class="form-control" id="dateOfBirth" name="dateOfBirth"
                    formControlName="dateOfBirth"
                    [ngClass]="{'is-invalid': updateFormReactve.get('dateOfBirth')?.invalid && (updateFormReactve.get('dateOfBirth')?.dirty || updateFormReactve.get('dateOfBirth')?.touched || submitted),
                
                'is-valid': updateFormReactve.get('dateOfBirth')?.valid && (updateFormReactve.get('dateOfBirth')?.dirty || updateFormReactve.get('dateOfBirth')?.touched || submitted) }">

                <span class="text-danger"
                    *ngIf="updateFormReactve.get('dateOfBirth')?.invalid && (updateFormReactve.get('dateOfBirth')?.dirty || updateFormReactve.get('dateOfBirth')?.touched || submitted) && updateFormReactve.get('dateOfBirth')?.errors?.required">
                    Date of Birth must be selected.</span>

                <span class="text-danger"
                    *ngIf="updateFormReactve.get('dateOfBirth')?.invalid && (updateFormReactve.get('dateOfBirth')?.dirty || updateFormReactve.get('dateOfBirth')?.touched || submitted) && updateFormReactve.get('dateOfBirth')?.errors?.hasminage">
                    Age must be at least 7.</span>
            </div>


            <!-- passed? Checkbox -->
            <div class="col-3 pt-2">
                <label for="checkbox" class="control-label" style="font-size:20px;">Passed? :</label>
            </div>
            <div class="col-9 pb-3">
                <div class="form-check">
                    <input type="checkbox" class="form-check-input" id="checkbox" name="passed" value="true"
                        formControlName="passed">
                    &nbsp; {{ updateFormReactve.value.passed }}
                </div>
            </div>


            <!-- gender Radio -->
            <div class="col-3">
                <label for="gender" class="control-label pt-2" style="font-size:20px;">Gender:</label>
            </div>
            <div class="col-9 pb-3">

                <div class="form-check form-check-inline" *ngFor="let gender of genders">
                    <input type="radio" class="form-check-input" [id]="gender" name="gender" [value]="gender"
                        formControlName="gender"
                        [ngClass]="{'is-invalid': updateFormReactve.get('gender')?.invalid && (updateFormReactve.get('gender')?.dirty || updateFormReactve.get('gender')?.touched || submitted),
                
                'is-valid': updateFormReactve.get('gender')?.valid && (updateFormReactve.get('gender')?.dirty || updateFormReactve.get('gender')?.touched || submitted) }">

                    <label [for]="gender" class="form-check-label">{{gender}}</label>
                </div>

                <span class="text-danger"
                    *ngIf="updateFormReactve.get('gender')?.invalid && (updateFormReactve.get('gender')?.dirty || updateFormReactve.get('gender')?.touched || submitted) && updateFormReactve.get('gender')?.errors?.required">
                    Gender can't be blank</span>

                <span class="text-danger"
                    *ngIf="updateFormReactve.get('gender')?.invalid && (updateFormReactve.get('gender')?.dirty || updateFormReactve.get('gender')?.touched || submitted) && updateFormReactve.get('gender')?.errors?.notBothOther">
                    ( Both Gender and Country can't be 'Other'. )</span>
            </div>


            <!-- country dropdown -->
            <div class="col-3">
                <label for="countryId" class="control-label pt-2" style="font-size:20px;">Country:</label>
            </div>

            <div class="col-9 pb-3">
                <select class="form-control" id="countryId" name="countryId" formControlName="countryId"
                    [ngClass]="{'is-invalid': updateFormReactve.get('countryId')?.invalid && (updateFormReactve.get('countryId')?.dirty || updateFormReactve.get('countryId')?.touched || submitted),
                
                'is-valid': updateFormReactve.get('countryId')?.valid && (updateFormReactve.get('countryId')?.dirty || updateFormReactve.get('countryId')?.touched || submitted) }">

                    <option value="null">- Select Country -</option>

                    <option *ngFor="let country of countries" [value]="country.countryId">
                        &nbsp;
                        {{country.name}}
                    </option>
                </select>

                <span class="text-danger"
                    *ngIf="updateFormReactve.get('countryId')?.invalid && (updateFormReactve.get('countryId')?.dirty || updateFormReactve.get('countryId')?.touched || submitted) && updateFormReactve.get('countryId')?.errors?.required">
                    Country must be selected.</span>

            </div>


            <!-- subjects -->
            <div class="col-3 pt-2">
                <label for="subjects" class="control-label" style="font-size:20px;">Subjects and Marks:</label>
            </div>

            <div class="col-9 pb-3" formArrayName="subjects">

                <div class="row" *ngFor="let subject of formSubjectsArr.controls; let i=index" [formGroupName]="i">

                    <!-- subject name -->
                    <div class="col">
                        <input type="text" class="form-control" id="subjectName" name="subjectName"
                            placeholder="Subject Name" formControlName="subjectName"
                            [ngClass]="{'is-invalid': subject.get('subjectName')?.invalid && (subject.get('subjectName')?.dirty || subject.get('subjectName')?.touched || submitted),
                
                'is-valid': subject.get('subjectName')?.valid && (subject.get('subjectName')?.dirty || subject.get('subjectName')) }">

                        <span class="text-danger"
                            *ngIf="updateFormReactve.get('subjectName')?.invalid && (updateFormReactve.get('subjectName')?.dirty || updateFormReactve.get('subjectName')?.touched || submitted) && updateFormReactve.get('subjectName')?.errors?.required">
                            Subject name can not be blank.</span>

                        <span class="text-danger"
                            *ngIf="updateFormReactve.get('subjectName')?.invalid && (updateFormReactve.get('subjectName')?.dirty || updateFormReactve.get('subjectName')?.touched || submitted) && updateFormReactve.get('subjectName')?.errors?.minlength">
                            Subject name must have at least 3 letters.</span>

                    </div>

                    <!-- mark range -->
                    <div class="col">
                        <input type="range" class="form-range" id="mark" name="mark" min="0" max="100" value="50"
                            formControlName="mark">
                    </div>

                    <!-- display mark -->
                    <div class="col-1">
                        {{ subject.value.mark }}
                    </div>

                    <!-- remove button -->
                    <div class="col">
                        <button type="button" class="btn btn-danger" (click)="onRemoveClick(i)">Remove</button>
                    </div>

                </div>

                <!-- Add Subject button -->
                <div class="col">
                    <button type="button" class="btn btn-dark" (click)="onAddClick()">Add Subject</button>
                </div>

                <!-- <div class="row">
                        <div class="col-3" *ngFor="let subject of formSubjectsArr.controls; let i=index">
                            {{i}}
                        </div>
                    </div> -->
            </div>


            <!-- buttons -->
            <div>
                <button type="submit" class="btn btn-success form-control mt-3 text-white">Submit</button>

                <a type="button" routerLink="/studentscrud" class="btn btn-outline-primary form-control mt-3">Back to
                    List</a>

                <button type="button" (click)="onResetClick()" class="btn btn-outline-danger form-control mt-3">Reset
                    Form</button>
            </div>
        </div>
    </div>
</form>


<!-- For development purpose: -->
form - {{updateFormReactve.value | json}}
<hr>
dto - {{studentUpdateDTO | json}}