<form>
    <br />
    <div class="container border p-3">
        <h3 class="text-primary">Add Student</h3>
        <hr />

        <div class="row">

            <div class="col-2">
                <label for="studentId" class="control-label pt-2" style="font-size:20px;">Id</label>
            </div>
            <div class="col-10 pb-3">
                <input readonly name="studentId" [(ngModel)]="studentToEdit.studentId" type="text" id="studentId"
                    class="form-control" />
                <span asp-validation-for="studentId" class="text-danger"></span>
            </div>

            <div class="col-2">
                <label for="name" class="control-label pt-2" style="font-size:20px;">Name</label>
            </div>
            <div class="col-10 pb-3">
                <input name="name" [(ngModel)]="studentToEdit.name" type="text" id="name" class="form-control" />
                <span asp-validation-for="name" class="text-danger"></span>
            </div>

            <div class="col-2">
                <label for="dateOfBirth" class="control-label pt-2" style="font-size:20px;">Date Of Birth</label>
            </div>
            <div class="col-10 pb-3">
                <input name="dateOfBirth" [(ngModel)]="studentToEdit.dateOfBirth" type="text" id="dateOfBirth"
                    class="form-control" />
                <span asp-validation-for="Rate" class="text-danger"></span>
            </div>

            <div class="col-2">
                <label for="passed" class="control-label pt-2" style="font-size:20px;">Pass/Fail</label>
            </div>
            <div class="col-10 pb-3">
                <input name="passed" [(ngModel)]="studentToEdit.passed" type="text" id="passed" class="form-control" />
                <span asp-validation-for="ImageUrl" class="text-danger"></span>
            </div>

            <div>
                <button (click)="onConfirmClick()" class="btn btn-success form-control">Confirm</button>
                <a routerLink="/studentscrud" class="btn-outline-primary btn form-control mt-3">Back to List</a>
            </div>
        </div>
    </div>
</form>