<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    @*<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />*@
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Client.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/theme_lumen.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css">
</head>

<body>
    <script>
        //if (window.innerWidth < 1280) {
        //    alert('Please visit this site using a Computer. I\'m currently working on adding styling for smaller screens.');
        //    window.stop();
        //}
    </script>

    <header>
        <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="" asp-action="">Made_By_Numan</a>

                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">

                        <li class="nav-item">
                            <a class="nav-link text-light" asp-area="Guest" asp-controller="Home" asp-action="Index">About</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-light" asp-area="Guest" asp-controller="Chart" asp-action="Index">Chart</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-light" asp-area="Guest" asp-controller="Bank" asp-action="Index">Bank-of-Numan</a>
                        </li>

                        @*<li class="nav-item">
                        <a class="nav-link text-light" asp-area="" asp-controller="" asp-action="">Live Weather, Stock</a>
                        </li>
                        <li class="nav-item">
                        <a class="nav-link text-light" asp-area="" asp-controller="" asp-action="">CRUD Animals & Plants</a>
                        </li>
                        <li class="nav-item">
                        <a class="nav-link text-light" asp-area="" asp-controller="" asp-action="">Notebook</a>
                        </li>*@

                        <li class="nav-item">
                            <a class="nav-link text-light" asp-area="Guest" asp-controller="OrderFood" asp-action="Index">- Order Food -</a>
                        </li>
                        <li class="nav-item">
                            <a target="_blank" href="https://madebynumanapi.azurewebsites.net/" class="nav-link text-light">Swagger-API</a>
                        </li>

                    </ul>

                    <partial name="_LoginPartial" />
                </div>
            </div>
        </nav>
    </header>

    <div class="container">
        <main role="main" class="pb-3" id="bg">
            <partial name="_Notifications" />
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-bg-dark">
        <div class="container">
            &copy; @DateTime.Now.Year - Copyrighted to Numan.
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>

</html>
