@if (TempData["success"] != null)
{
    <div class="alert alert-success" role="alert">
        <strong>Success!</strong> @TempData["success"]
    </div>
}

@if (TempData["error"] != null)
{
    <div class="alert alert-danger" role="alert">
        <strong>Error!</strong> @TempData["error"]
    </div>
}