<h1 #test class="myClass">
    1st
</h1>

<hr>

<h1 (click)="justEvent()">
    clicking shows alert
</h1>

<hr>

<h1 (click)="ngAftrVw()">ngAftrVwChkd</h1>

<hr>

<h1>list by using async pipe is below:</h1>
<ng-container *ngFor="let month of MONTHS$ | async as Months; trackBy: trackByFn; let i = index">
    <div>
        sq of index: {{Months.length * i}} --- {{month.Name}} --- {{month.Value}}
    </div>
</ng-container>

<hr>

<app-test-child></app-test-child>

<hr>

<div style="margin: auto;">
    <!-- using a tag below instead gives error -->
    <button name="btn" id="" class="btn btn-primary" href="#" role="button" (click)="toTestChild()">Go with query
        params</button>

</div>