<div class="card shadow-none border-warning mx-4 mt-3 mb-2" [style.background-color]="childColor"
    style="border: 3px solid;">
    <div class="card-header">
        <h5>Child</h5>
    </div>
    <div class="card-body mx-2">

        <h4 class="card-title">
            Change Child Color:
            <input type="color" id="parentcolor" name="parentcolor" [(ngModel)]="childColor">
        </h4>

        <div>
            <button type="button" class="btn btn-primary" (click)="onClickToParent($event)">
                Trigger Parent's method -- using Child's @ Output Event Emitter (Containing Color)
            </button>
        </div>

        <br>

        <div>
            <button type="button" class="btn btn-info" (click)="gc1.togglePinkWhite()"> <!--gc1's method-->
                Toggle Grand-Child-1's method -- using @ViewChild
            </button>
        </div>

        <br>

        <div>
            <button type="button" class="btn btn-info" (click)="toggle12PinkWhite()">
                Toggle Grand-Children-1+2's methods -- using @ViewChildren
            </button>
        </div>

        <br>

        <div>
            <button type="button" class="btn btn-primary" (click)="getGC3Color()">
                Get Grand-Child-3's color -- using @ContentChild
            </button>
        </div>

        <br>

        <div>
            <button type="button" class="btn btn-primary" (click)="getToggleGC34Color()">
                Get, Toggle using Grand-Children-3+4's colors -- using @ContentChildren
            </button>
        </div>

    </div>

    <!-- row of parent's grandchilds -->
    <div class="row">

        <!-- views gc1, gc2 -->
        <div class="col">
            <app-grand-child #gc1 #gc12>
            </app-grand-child>
        </div>

        <div class="col">
            <app-grand-child2 #gc2 #gc12>
            </app-grand-child2>
        </div>

        <!-- contents gc3, gc4 from parent -->
        <ng-content>
        </ng-content>

    </div>

</div>