
<div class="container m-4">

    <div class="card border-primary mb-3" [style.background-color]="parentColorValue">
        <div class="card-header">
            <h5>Parent</h5>
        </div>
        <div class="card-body">

            <h4 class="card-title">
                Change Parent Color:
                <input type="color" id="parentcolor" name="parentcolor" [(ngModel)]="parentColorValue">
            </h4>

            <h4 class="card-title">
                Send Color to Child as @Input:
                <input type="color" id="childcolor" name="childcolor" [(ngModel)]="toChildColorValue">
            </h4>
        </div>
        

        <app-child [childColorValue]="toChildColorValue" (childsClickEmitter)="parentsMethod($event)">
        </app-child>
    </div>
</div>