<div class="container m-4">
    <h4 class="text-info">
        Component-Communications (passing color values) -
    </h4>

    <div class="card border-primary mb-3" [style.background-color]="parentColorValue">
        <div class="card-header">
            <h5>Parent</h5>
        </div>
        <div class="card-body">

            <h4 class="card-title">
                Change Parent Color:
                <input type="color" id="parentcolor" name="parentcolor" [(ngModel)]="parentColorValue">
            </h4>

            <h4 class="card-title">
                Send Color to Child as @Input:
                <input type="color" id="childcolor" name="childcolor" [(ngModel)]="toChildColorValue">
            </h4>

            <div>
                <button type="button" class="btn btn-primary" name="eventToParent" id="eventToParent"
                    (click)="TurnBothRed()">
                    Turn both Grand-Childs Red using RxJS Subject
                </button>
            </div>

            <br>

            <!-- <div>
                <button #thisButtonRef type="button" class="btn btn-primary" (click)="ToggleParent()" style="background-color:violet">
                    Togggle this button color using ElementRef
                </button>
            </div> -->



            <app-child [childColor]="toChildColorValue" (childsClickEmitter)="parentsMethod($event)">

                <!-- content from parent -->
                <app-grand-child3 #grandChild3FromParent >
                </app-grand-child3>

            </app-child>

        </div>

    </div>
</div>