<ng-container>
    <h1 #test class="myClass">
        1st
    </h1>

    <hr>

    <h1 (click)="justEvent()">
        clicking shows alert
    </h1>

    <hr>

    <h1 (click)="ngAftrVw()">ngAftrVwChkd -- click turns blue: sssClick</h1>

    <hr>

    <h1>list by using async pipe is below:</h1>
    <ng-container *ngFor="let month of MONTHS$ | async as Months; trackBy: trackByFn; let i = index">
        <div>
            sq of index: {{Months.length * i}} --- {{month.Name}} --- {{month.Value}}
        </div>
    </ng-container>

    <hr>

    <app-test-child></app-test-child>

    <div ngClass="text-center">
        <!-- using <a type='button'> tag below instead gives error -->
        <button name="btn" class="btn btn-primary btn-sm " (click)="toTestChild()">Go with query
            params</button>

    </div>
</ng-container>