<!-- top row -->
<div class="container border mt-4 p-2">
    <div class="row">
        <div class="col">
            <h2 class="text-primary">&nbsp;About</h2>
        </div>
    </div>
</div>

<div class="container mt-4">

    <div class="row">

        <div class="col-sm-4 col-md-4 mb-4">
            <div class="card border-dark" style="width:230px;">
                <img class="card-img-top p-3" src="assets/Numan2.JPG" alt="Card image" style="width:100%">

                <div class="card-body">
                    <h4 class="card-title">Numan Al Bakir</h4>

                    <p class="card-text">Aspiring Full Stack <b>.Net + Angular</b> Developer.</p>
                    <p class="card-text">This website displays my work.</p>

                    <!-- <div id="sIcons" class="d-flex justify-content-between">
                        <i class="fa fa-twitter fa-lg"></i>
                        <i class="fa fa-linkedin fa-lg text-warning"></i>
                        <i class="fa fa-facebook fa-lg text-info"></i>
                        <i class="fa fa-github fa-lg"></i>
                    </div> -->

                    <div class="card-footer alert alert-secondary mt-4" id="div" style="font-size:18px; display: none;"
                        role="alert">
                        These icons are just for prettifying!
                    </div>
                </div>
            </div>
        </div>

        <div class="col-sm-8 col-md-6 col-md-offset-2 mb-4">
            <div>
                <h4>
                    Hello,<br>
                    I (Numan) developed this site using real-world software-development designs and practices.
                </h4>
                <h4 class="mt-3">
                    <u>This client site was developed using mainly Angular and TypeScript (strict-mode).</u> This site uses many features of Angular including:
                    <br>
                    <br>
                    <span id="not-bold">
                        <ul>
                            <li>Bindings (4 types)</li>
                            <li>Template-driven form</li>
                            <li>Reactive form</li>
                            <li>Validations (in both forms. also, async, custom)</li>
                            <li>Component Communications (among parent, child, grandchild)</li>
                            <li>RxJS and REST API calls</li>
                            <li>Services</li>
                            <li>Pipes (custom also)</li>
                            <li>Directives (custom also)</li>
                            <li>Routing (advanced also)</li>
                            <li>Lazy Loading</li>
                            <li>Life-Cycle Hooks</li>
                            <!-- <li>Renderer2</li> -->
                            <li>and some others.</li>
                        </ul>
                    </span>
                </h4>

                <h4 class="mt-3">
                    Also, using Highcharts, HTML, CSS, Bootstrap, Visual Studio Code, Asp.Net Core Web API (RESTful).
                </h4>

                <h4 class="mt-3">
                    Link to Source-code of this project is in my Resume.
                </h4>

                <h4 class="mt-3">
                    Data used in 'Students CRUD' are saved in database.
                </h4>
            </div>
        </div>
    </div>

    <hr class="d-sm-none">
</div>