<br />

<form #newForm="ngForm" novalidate="novalidate" >
    <div class="container border p-3">
        <h3 class="text-primary">Add Student (Template Driven Form)</h3>
        <hr />

        <div class="row">

            <!-- id -->
            <div class="col-2">
                <label for="studentId" class="control-label pt-2" style="font-size:20px;">Student Id:</label>
            </div>
            <div class="col-10 pb-3">
                <input name="studentId" [(ngModel)]="studentCreateDTO.studentId" type="text" id="studentId" class="form-control" required="required" pattern="^[0-9]*$" 
                #newStudentId="ngModel" [ngClass]="{'is-invalid': newStudentId.invalid && (newStudentId.dirty || newStudentId.touched || newForm.submitted), 'is-valid': newStudentId.valid && (newStudentId.dirty || newStudentId.touched || newForm.submitted) }" />
                
                <span class="text-danger" *ngIf="newStudentId.invalid && (newStudentId.dirty || newStudentId.touched || newForm.submitted) && newStudentId.errors?.required">Id must be filled.</span>
                <span class="text-danger" *ngIf="newStudentId.invalid && (newStudentId.dirty || newStudentId.touched || newForm.submitted) && newStudentId.errors?.pattern">Only numbers allowed in pattern.</span>
            </div>

            <!-- name -->
            <div class="col-2">
                <label for="name" class="control-label pt-2" style="font-size:20px;">Name:</label>
            </div>
            <div class="col-10 pb-3">
                <input name="name" [(ngModel)]="studentCreateDTO.name" type="text" id="name" class="form-control" required="required" pattern="^[A-Za-z /-]*$" minlength="3"
                #newStudentName="ngModel" [ngClass]="{'is-invalid': newStudentName.invalid && (newStudentName.touched || newStudentName.dirty || newForm.submitted), 'is-valid': newStudentName.valid && (newStudentName.touched || newStudentName.dirty || newForm.submitted) }"  />

                <span class="text-danger" *ngIf="newStudentName.invalid && (newStudentName.dirty || newStudentName.touched || newForm.submitted) && newStudentName.errors?.required">Name must be filled.</span>
                <span class="text-danger" *ngIf="newStudentName.invalid && (newStudentName.dirty || newStudentName.touched || newForm.submitted) && newStudentName.errors?.pattern">Allowed: alphabets, space, /, -.</span>
                <span class="text-danger" *ngIf="newStudentName.invalid && (newStudentName.dirty || newStudentName.touched || newForm.submitted) && newStudentName.errors?.minlength">Minimum 3 characters long.</span>
            </div>

            <!-- dob -->
            <div class="col-2">
                <label for="dateOfBirth" class="control-label pt-2" style="font-size:20px;">Date Of Birth (click calender icon):</label>
            </div>
            <div class="col-10 pb-3">
                <input name="dateOfBirth" class="form-control" [(ngModel)]="studentCreateDTO.dateOfBirth" type="date" id="dateOfBirth"
                appAgeValidator="2023" #newStudentDob="ngModel" [ngClass]="{'is-invalid': newStudentDob.invalid && (newStudentDob.touched || newStudentDob.dirty || newForm.submitted), 'is-valid': newStudentDob.valid && (newStudentDob.touched || newStudentDob.dirty || newForm.submitted) }" />

                <span class="text-danger"
                    *ngIf="newStudentDob.invalid && (newStudentDob.dirty || newStudentDob.touched || newForm.submitted) && newStudentDob.errors?.correctAge">Student must be atleast 5 years old.</span>
            </div>

            <!-- passed? Checkbox -->
            <div class="col-2">
                <label for="checkbox" class="control-label pt-2" style="font-size:20px;">Passed? :</label>
            </div>
            <div class="col-10 pb-3">
                <div class="form-check">
                    <input type="checkbox" id="checkbox" value="true" class="form-check-input"
                        [(ngModel)]="studentCreateDTO.passed" name="passed">
                </div>
                <!-- <span asp-validation-for="ImageUrl" class="text-danger"></span> -->
            </div>

            <!-- gender Radio -->
            <div class="col-2">
                <label for="gender" class="control-label pt-2" style="font-size:20px;">Gender:</label>
            </div>
            <div class="col-10 pb-3">

                <div class="form-check form-check-inline">
                    <input type="radio" id="gender" value="female" class="form-check-input" name="gender"
                        [(ngModel)]="studentCreateDTO.gender" required="required" #gender="ngModel">
                    <label for="gender" class="form-check-label">Female</label>
                </div>

                <div class="form-check form-check-inline">
                    <input type="radio" id="gender" value="male" class="form-check-input" name="gender"
                        [(ngModel)]="studentCreateDTO.gender" required="required" #gender="ngModel">
                    <label for="gender" class="form-check-label">Male</label>
                </div>

                <div class="form-check form-check-inline">
                    <input type="radio" id="gender" value="other" class="form-check-input" name="gender"
                        [(ngModel)]="studentCreateDTO.gender" required="required" #gender="ngModel">
                    <label for="gender" class="form-check-label">Other</label>
                </div>
                <!-- <span asp-validation-for="ImageUrl" class="text-danger"></span> -->
            </div>


            <!-- country dropdown -->
            <div class="col-2">
                <label for="country" class="control-label pt-2" style="font-size:20px;">Country:</label>
            </div>

            <div class="col-10 pb-3">
                 <select id="countryId" class="form-control" name="countryId" [(ngModel)]="studentCreateDTO.countryId" required="required">
                    
                    <option value="null">- Select Country -</option>
                    <option *ngFor="let country of countries" [value]="country.countryId">
                        {{country.name}}
                    </option>
                    
                </select>
                <!-- <span asp-validation-for="ImageUrl" class="text-danger"></span> -->
            </div>

            <!-- buttons -->
            <div>
                <button (click)="onConfirmClick()" class="btn btn-success form-control mt-3 text-white">Confirm</button>
                
                <a routerLink="/studentscrud" class="btn-outline-primary btn form-control mt-3">Back to List</a>
                
                <button (click)="onResetClick()" class="btn btn-outline-danger form-control mt-3">Reset Form</button>
            </div>
        </div>
    </div>
</form>